<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
</head>
<style>
    .patients {
        text-align: center;
        margin-top: 300px;
    }
</style>

<body>
    <div class='patients'>
        <h1>User Not Authenticated</h1>
        <h2>Login Required</h2>
        <p>Make sure you are registerd before logging in</p>
        <p>
            <a href="/signup">Sign Up</a>
        </p>
        <p>
            <a href="/login">Log In</a>
        </p>
    </div>
</body>

</html>